<html>
    <head>
        <title>Khaosoi.js Backend Framework</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <style>
            pre {
                background: #333;
                color: #fff;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container p-4">
            <div class="jumbotron">
                <div class="row">
                    <h1 class="display-4">Welcome to Khaosoi.js 🍜</h1>
                    <p class="lead">Made with love from developer to developer ❤️</p>
                    <p class="lead">
                        <a class="btn btn-secondary btn-sm" href="https://github.com/sunny420x/khaosoi.js" role="button" target="_blank">Learn more on GitHub</a>
                    </p>
                </div>
                <hr class="my-4">
                <div id="docs_content"></div>
                <script>
                    let docs;

                    function getDocs() {
                        fetch('/docs/getContent').then(res => {
                            if(res.ok) {
                                return res.json()
                            }
                        }).then(data => {
                            docs = data
                            applyDocs()
                        })
                    }

                    function applyDocs() {
                        let docs_content = document.getElementById('docs_content')
                        docs.forEach(row => {
                            docs_content.innerHTML += `<h2>${row.header}</h2><pre>${row.content}</pre>`
                        });
                    }

                    getDocs()
                </script>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>